(
	{ key = eq2x; name = "Everquest® II Extended";},
	{ key = eq2; name = "Everquest® II";},
	{ key = eq; name = "Everquest®";},
	{ key = eqmac; name = "Everquest® (Mac)";},
	{ key = dcuo; name = "DC Universe™ Online";},
	{ key = ps; name = "Planetside®";},
	{ key = vgd; name = "Vanguard: Saga of Heroes®";},
	{ key = freerealms; name = "FreeRealms®";},
	{ key = eqoa; name = "Everquest® Online Adventure";},
	{ key = clonewars; name = "Star Wars®: Clone Wars Adventures™";},
)