(
	{ key = eq2x; name = "Everquest® II Extended"; search = "everquest2"; },
	{ key = eq2; name = "Everquest® II"; search = "everquest2"; },
	{ key = eq; name = "Everquest®"; search = "everquest"; },
	{ key = eqmac; name = "Everquest® (Mac)"; search = "everquest"; },
	{ key = dcuo; name = "DC Universe™ Online"; search = "dcuo"; },
	{ key = ps; name = "Planetside®";  search = "planetside"; },
	{ key = vgd; name = "Vanguard: Saga of Heroes®";  search = "soe vanguard"; },
	{ key = freerealms; name = "FreeRealms®";  search = "freerealms"; },
	{ key = eqoa; name = "Everquest® Online Adventure";  search = "eqoa"; },
	{ key = clonewars; name = "Star Wars®: Clone Wars Adventures™";  search = "clonewars"; },
	{ key = code4344; name = "Planetside®2 (beta)";  search = "planetside"; },
	{ key = ps2; name = "Planetside®2";  search = "planetside2"; },
)