{
	200 = "OK";
    201 = "Created"; // responds to a POST that creates a resource
    202 = "Accepted"; // long running task
    203 = "Non-authoritative information";
    204 = "No content";
    205 = "Reset content";
    206 = "Partial content";
    300 = "Multiple choices";
    301 = "Moved permanently"; // new URI in Location header
    302 = "Found"; // temp URI in Location header
    303 = "See other"; // see Location header
    304 = "Not modified";
    305 = "Use proxy";
    400 = "Bad request";
    401 = "Unauthorized"; // WWW-Authenticate header has challenge
    403 = "Forbidden";
    404 = "Not found";
    405 = "Not allowed"; // Allow header has list of valid methods
    406 = "Not acceptable";
    407 = "Authentication required";
    408 = "Request timeout";
    409 = "Conflict";
    410 = "Gone";
    411 = "Length required";
    412 = "Precondition failed";
    413 = "Request entity too large";
    414 = "Request URI too long";
    415 = "Unsupported media type";
    416 = "Requested range not satisfiable";
    417 = "Expectation failed";
    500 = "Internal server error";
    501 = "Not implemented";
    502 = "Bad gateway";
    503 = "Service unavailable"; // temporary
    504 = "Gateway timeout";
}